.mt-container {
    text-align : center;
    margin-top: 5%;
}

.mt-container-body {
    width : 100%;
    text-align : center;
}



.mt-panel {
    width : 100%;
}

.mt-panel-body {
    margin : 1em;
}

.mt-panel-body-element {
    width : 100%;

    margin : 0px;
    margin-top : 1em;
    margin-bottom : 1em;
}

.mt-element {
    margin-top : 1em;
    margin-bottom : 1em;
}

.mt-element-explain {
    width : 10em;
    text-align : center;
}

.mt-element-explain span {
    width : 20em;
    text-align : center;
}

.mt-element-input {
    width : 20em;
}

.mt-element-checker {
    width : 3em;
}

.mt-element-notice {
    width : 20em;
}

.mt-element-button-large {
    width : 15%;
}

.mt-element-button-medium {
    width : 10%;
}

.mt-element-button-small {
    width : 5%;
}



.mt-nav-item {
    white-space : nowrap;

    margin-left : 5%;

    margin-top : 0.5em;
    margin-bottom : 0.5em;
}

.mt-panel-title {
    border-radius : 0.5em;

    text-align : center;
    font-size : 2em;

    z-index : 5;
    padding : 0.6em;
}

.mt-panel-subtitle {
    position : relative;
    top : -0.6em;

    color : black;
    font-weight : bold;

    border : solid black 1px;
    border-radius : 0.5em 0em;
    background-color : azure;

    text-align : center;
    font-size : 1em;

    z-index : 4;
    padding : 0.5em;
    margin-bottom : 2em;
}

@media (min-width : 1024px) {
    .mt-nav-set-left { margin-left : 2%; }
    .mt-nav-set-right { margin-right : 10%; }

    .mt-nav-item {
        white-space : nowrap;
        margin-left: 5%;
    }

    .mt-panel-title {
        border-radius : 0.5em;

        text-align : center;
        font-size : 2em;

        z-index : 5;
        padding : 0.6em;
    }

    .mt-panel-subtitle {
        position : relative;
        top : -0.6em;

        color : black;
        font-weight : bold;

        border : solid black 1px;
        border-radius : 0.5em 0em;
        background-color : azure;

        text-align : center;
        font-size : 1em;

        z-index : 4;
        padding : 0.5em;
        margin-bottom : 2em;
    }
}


/* mt margin series*/
/* mt margin for left(default)*/
.mt-margin-half { margin-left : 50%; }
.mt-margin-xxxlarge { margin-left : 25%; }
.mt-margin-xxlarge { margin-left : 20%; }
.mt-margin-xlarge { margin-left : 10%; }
.mt-margin-large { margin-left : 5%; }
.mt-margin-slarge { margin-left : 3%; }
.mt-margin-small { margin-left : 2%; }

.mt-rmargin-xxxlarge { margin-right : 25%; }
.mt-rmargin-xxlarge { margin-right : 20%; }
.mt-rmargin-xlarge { margin-right : 10%; }
.mt-rmargin-large { margin-right : 5%; }
.mt-rmargin-slarge { margin-right : 3%; }
.mt-rmargin-small { margin-right : 2%; }

.mt-tmargin-xxxlarge { margin-top : 25%; }
.mt-tmargin-xxlarge { margin-top : 20%; }
.mt-tmargin-xlarge { margin-top : 10%; }
.mt-tmargin-large { margin-top : 5%; }
.mt-tmargin-slarge { margin-top : 3%; }
.mt-tmargin-small { margin-top : 2%; }



.mt-lpos-xxxlarge{ left : 25%; }
.mt-lpos-xxlarge { left : 20%; }
.mt-lpos-xlarge { left : 10%; }
.mt-lpos-large { left : 5%; }
.mt-lpos-slarge { left : 3%; }
.mt-lpos-small { left : 2%; }


.mt-rpos-xxxlarge{ right : 25%; }
.mt-rpos-xxlarge { right : 20%; }
.mt-rpos-xlarge { right : 10%; }
.mt-rpos-large { right : 5%; }
.mt-rpos-slarge { right : 3%; }
.mt-rpos-small { right : 2%; }