@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@section scripts {
    <script src="~/Scripts/mainPage.js"></script>
}

<style>
    .slideContainer
    {
        margin-top : 5rem;
        width : 50rem;
        height : 30rem;
    }
</style>

<div style = "text-align : center;">
    <div class="w3-content w3-display-container slideContainer">
    </div>
</div>