@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="@Url.Content("~/Content/mainPageStyleSheet.css")" />

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/mainPage.js"></script>
}

<div style = "text-align : center;">
    <div class="w3-content w3-display-container slideContainer">
        <img class="slideImageContainer w3-animate-opacity" src="@Url.Content("~/Sources/Images/mainPagePic_1.png")" style="width:100%">
        <img class="slideImageContainer w3-animate-opacity" src="@Url.Content("~/Sources/Images/mainPagePic_2.png")" style="width:100%">
        <img class="slideImageContainer w3-animate-opacity" src="@Url.Content("~/Sources/Images/mainPagePic_3.png")" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div>