
@{
    ViewBag.Title = "SignIn";
}

@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/userContainer.css")

<script>
    function checkInput() {
        let targetButton = document.getElementById("signInLoginButton");

        let idInput = document.getElementById("inputId").value;
        let psInput = document.getElementById("inputPs").value;

        if (idInput != "" && psInput != "") {
            targetButton.classList.remove("btn-dark");
            targetButton.classList.add("btn-primary");
        }

        else {
            targetButton.classList.remove('btn-primary');
            targetButton.classList.add("btn-dark");
        }
    }
</script>

<div class="userContainer">
    <div class="userPanel">
        <div class="userPanel_head">
            <div class="bg-dark text-light" style = "padding : 0.6em; margin : 0.3em; border-radius : 1em;">
                <img src = "/Sources/logo.svg" style = "width : 40px; height : 40px;"/> SimulMot
            </div>

            <div class="bg-secondary text-light" style="font-size : 0.8em; padding : 0.2em; margin : 0.3em; border-radius : 0.8em;">
                - 로그인 -
            </div>
        </div>

        <div class="userPanel_body">
            <form action="@Url.Action("checkLogin")" method="post">
                <div class="input-group userPanel_bodyElement">
                    <div class="input-group-prepend">
                        <span id="idLabel" class="input-group-text userInputTag"> 아이디 </span>
                    </div>
                    <input type="text" class="form-control" id = "inputId" name="inputId" placeholder="Id" autofocus aria-describedby="idLabel"
                           onchange = "checkInput()">
                </div>

                <div class="input-group userPanel_bodyElement">
                    <div class="input-group-prepend">
                        <span id="idLabel" class="input-group-text userInputTag"> 비밀번호 </span>
                    </div>
                    <input type="password" class="form-control" id = "inputPs" name="inputPs" placeholder="Password"
                           onchange = "checkInput()">
                </div>

                <div class="input-group userPanel_bodyElement">
                    <button type="submit" id = "signInLoginButton" class="form-control btn btn-dark">로그인</button>
                    <button type="button" class="form-control btn btn-danger">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>